---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: argocd
  namespace: gitops
spec:
  interval: 5m
  chart:
    spec:
      chart: argo-cd
      version: "8.1.0"
      sourceRef:
        kind: HelmRepository
        name: argocd
        namespace: gitops
      interval: 12h
  values:
    configs:
      secret:
        createSecret: true
    controller:
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
    server:
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
      autoscaling:
        enabled: true
        minReplicas: 2
    repoServer:
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
      autoscaling:
        enabled: true
        minReplicas: 2
    applicationSet:
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
