consul:
  hosts:
    consul-01.redstone:
      ansible_host: consul-01.redstone
      ansible_ssh_user: ansible
    consul-02.redstone:
      ansible_host: consul-02.redstone
      ansible_ssh_user: ansible
    consul-03.redstone:
      ansible_host: consul-03.redstone
      ansible_ssh_user: ansible

loadbalancer:
  hosts:
    loadbalancer-01.redstone:
      ansible_host: loadbalancer-01.redstone
      ansible_ssh_user: ansible
    loadbalancer-02.redstone:
      ansible_host: loadbalancer-02.redstone
      ansible_ssh_user: ansible

gh_runner:
  hosts:
    gh-runner-01.redstone:
      ansible_host: gh-runner-01.redstone
      ansible_ssh_user: ansible
    gh-runner-02.redstone:
      ansible_host: gh-runner-02.redstone
      ansible_ssh_user: ansible

dns:
  hosts:
    dns-01.redstone:
      ansible_host: 192.168.178.95
      ansible_ssh_user: ansible
    dns-02.redstone:
      ansible_host: 192.168.178.96
      ansible_ssh_user: ansible

monitoring:
  hosts:
    monitoring-01.redstone:
      ansible_host: monitoring-01.redstone
      ansible_ssh_user: ansible

vault:
  hosts:
    vault-01.redstone:
      ansible_ssh_user: ansible
      ansible_host: vault-01.redstone
    vault-02.redstone:
      ansible_ssh_user: ansible
      ansible_host: vault-02.redstone
    vault-03.redstone:
      ansible_ssh_user: ansible
      ansible_host: vault-03.redstone

vault_raft_servers:
  children:
    vault:

k8s-01:
  children:
    k8s-01-masters:
    k8s-01-nodes:

k8s-01-masters:
  hosts:
    k8s-master-01.redstone:
      ansible_host: k8s-master-01.redstone
      ansible_ssh_user: ansible

k8s-01-nodes:
  hosts:
    k8s-node-01.redstone:
      ansible_host: k8s-node-01.redstone
      ansible_ssh_user: ansible
    k8s-node-02.redstone:
      ansible_host: k8s-node-02.redstone
      ansible_ssh_user: ansible

netbox:
  hosts:
    netbox-01.redstone:
      ansible_host: netbox-01.redstone

keycloak:
  hosts:
    keycloak-01.redstone:
      ansible_host: keycloak-01.redstone
      ansible_ssh_user: ansible
