consul:
  hosts:
    consul-01.redstone:
      ansible_host: consul-01.redstone
    consul-02.redstone:
      ansible_host: consul-02.redstone
    consul-03.redstone:
      ansible_host: consul-03.redstone

loadbalancer:
  hosts:
    loadbalancer-01.redstone:
      ansible_host: loadbalancer-01.redstone
    loadbalancer-02.redstone:
      ansible_host: loadbalancer-02.redstone

gh_runner:
  hosts:
    gh-runner-01.redstone:
      ansible_host: gh-runner-01.redstone
    gh-runner-02.redstone:
      ansible_host: gh-runner-02.redstone

dns:
  hosts:
    dns-01.redstone:
      ansible_host: 192.168.178.95
    dns-02.redstone:
      ansible_host: 192.168.178.96

vault:
  hosts:
    vault-01.redstone:
      ansible_host: vault-01.redstone
    vault-02.redstone:
      ansible_host: vault-02.redstone
    vault-03.redstone:
      ansible_host: vault-03.redstone

vault_raft_servers:
  children:
    vault:

k8s-01:
  children:
    k8s-01-masters:
    k8s-01-nodes:

k8s-01-masters:
  hosts:
    k8s-master-01.redstone:
      ansible_host: k8s-master-01.redstone

k8s-01-nodes:
  hosts:
    k8s-node-01.redstone:
      ansible_host: k8s-node-01.redstone
    k8s-node-02.redstone:
      ansible_host: k8s-node-02.redstone

nfs:
  hosts:
    nfs-01.redstone:
      ansible_host: nfs-01.redstone

infra-compose:
  hosts:
    infra-compose-01.redstone:
      ansible_host: infra-compose-01.redstone

netbox:
  hosts:
    netbox-01.redstone:
      ansible_host: netbox-01.redstone
