---
# ssl configs
server_url: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  31663461376561386539636561636666633430663363666133343565363666623730646232356436
  6539383864353430346533343332656632323035623037630a353363313330363931323332636637
  34353430333339313665633038646539353066316632336534613066303733646133306539393861
  3437336564323936390a316666353735623335303531346238613162303366613561386262323066
  66393334386265396165643132613336353466636430306533366337303439393064

servers_consul: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  66356332613339656232613635313836313631353631343565396136633063663531633533393432
  3936333439396365653161613433366463396561356664620a613834663965633235363136656333
  34346531653464303134386238316139323332613536613031356361356362363333643562656366
  3263306464313237650a303431376432656433653466656436633534303636326432623438636330
  37636431333863643766363761383632623631346363393465613335363836626634613938633431
  3031366231633763363061396432393636376264666632663539

haproxy_stats_address: "0.0.0.0"
haproxy_stats_port: 8500

haproxy_frontends:
  - name: "https"
    address: "0.0.0.0"
    port: 443
    ssl_enable: true
    ssl_certificates:
      - "/etc/acme/certs/wildcard.{{ server_url }}.pem"
    routes:
      - acl_name: "is_consul"
        acl_condition: "hdr(host) -i consul.{{ server_url }}"
        backend_name: "consul_backend"
      - acl_name: "is_vault"
        acl_condition: "hdr(host) -i vault.{{ server_url }}"
        backend_name: "vault_backend"
      - acl_name: "is_keycloak"
        acl_condition: "hdr(host) -i keycloak.{{ server_url }}"
        backend_name: "keycloak_backend"
    options:
      - "httplog"

  - name: "vault"
    address: "0.0.0.0"
    port: 8200
    mode: "tcp"
    default_backend: "vault_backend_tcp"

haproxy_backends:
  - name: "consul_backend"
    mode: "http"
    balance: "roundrobin"
    port: 8500
    check: true
    http_check:
      send:
        method: GET
        uri: "/v1/status/leader"
      expect: "status 200"
    servers:
      - name: consul-01.redstone
        address: consul-01.redstone
      - name: consul-02.redstone
        address: consul-02.redstone
      - name: consul-03.redstone
        address: consul-03.redstone
  - name: "keycloak_backend"
    mode: "http"
    balance: "first"
    port: 8080
    check: true
    headers:
      X-Forwarded-Proto: https
      X-Forwarded-Port: 443
      X-Forwarded-Host: "keycloak.{{ server_url }}"
    servers:
      - name: keycloak-01.redstone
        address: keycloak-01.redstone
  - name: "vault_backend"
    mode: "http"
    balance: "first"
    port: 8200
    ssl_enable: true
    verify: "none"
    check: true
    http_check:
      send:
        method: GET
        uri: /v1/sys/health
      expect: status 200
    servers:
      - name: vault-01.redstone
        address: vault-01.redstone
      - name: vault-02.redstone
        address: vault-02.redstone
      - name: vault-03.redstone
        address: vault-03.redstone
  - name: "vault_backend_tcp"
    mode: "tcp"
    balance: "first"
    port: 8200
    check: true
    http_check:
      send:
        method: GET
        uri: /v1/sys/health
      expect: status 200
    options:
      - ssl-hello-chk
    servers:
      - name: vault-01.redstone
        address: vault-01.redstone
      - name: vault-02.redstone
        address: vault-02.redstone
      - name: vault-03.redstone
        address: vault-03.redstone

