---
_keycloak_server_url: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          36346666653438663139386230363761643737616665366261346631663666623964303038666333
          6635353537313466336465343834313336623034343265370a626430323431646134656633623832
          64656537623038643766393836346162633061383462303138613061353663326661613430303135
          6235616135323037640a356132636439333138336566363762383433373634643833393163353862
          36306532313062363762393232646233616437643837363938363738376533393164343461663763
          6135323165313866623635346634303437613664613932363833
_keycloak_grafana_realm: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          33356631313730376236383236613063666337653639363261633339343139333064613861383236
          6436636261373632363335363439636636636332343364610a376335396333343735326530306435
          33353131633663643561626565376564353965613166393865613734323934653761376262376430
          3966343365353165620a623236613539616436663439393562303866626433323439353831306365
          6338

grafana_ini:
  security:
    admin_user: admin
    admin_password: admin
  auth:
    generic_oauth:
      enabled: true
      name: Keycloak-OAuth
      allow_sign_up: true
      client_id: grafana-oauth
      client_secret: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          62626637313435336262323730623130323238346264386232343939313566366331303333356361
          3139353364663839656135623165316332333430316338350a306530373934323038313435373036
          66336634633830666432646463313861323231343333643733626234333438633630653134383636
          6461376564663939630a616261393064326264313732643438323434356163373664613762353466
          62373935333632376339356663386231303838646465343632666239316132373931656464326638
          3030323262303161646538613635656164613532653637303563
      scopes: openid email profile offline_access roles
      email_attribute_path: email
      login_attribute_path: username
      name_attribute_path: full_name
      auth_url: "{{ _keycloak_server_url }}/realms/{{ _keycloak_grafana_realm }}/protocol/openid-connect/auth"
      token_url: "{{ _keycloak_server_url }}/realms/{{ _keycloak_grafana_realm }}/protocol/openid-connect/token"
      api_url: "{{ _keycloak_server_url }}/realms/{{ _keycloak_grafana_realm }}/protocol/openid-connect/userinfo"
      role_attribute_path: contains(roles[*], 'admin') && 'Admin' || contains(roles[*], 'editor') && 'Editor' || 'Viewer'

grafana_dashboards:
  - dashboard_id: 1860
    revision_id: 42
    datasource: prometheus

grafana_datasources:
  - name: prometheus
    type: prometheus
    url: 'http://localhost:9090'
    basicAuth: false
  - name: loki
    type: loki
    url: 'http://localhost:3100'
    basicAuth: false
