---
prometheus_scrape_configs:
  - job_name: "prometheus"
    metrics_path: "{{ prometheus_metrics_path }}"
    static_configs:
      - targets:
          - "{{ ansible_fqdn | default(ansible_host) | default('localhost') }}:9090"

  - job_name: "node_exporter"
    metrics_path: "{{ prometheus_metrics_path }}"
    static_configs:
      - targets:
          - "monitoring-01.redstone:9100"
          - "consul-01.redstone:9100"
          - "consul-02.redstone:9100"
          - "consul-03.redstone:9100"
          - "dns-01.redstone:9100"
          - "dns-02.redstone:9100"
          - "loadbalancer-01.redstone:9100"
          - "loadbalancer-02.redstone:9100"
          - "gh-runner-01.redstone:9100"
          - "gh-runner-02.redstone:9100"
  - job_name: "bind_exporter"
    metrics_path: "{{ prometheus_metrics_path }}"
    static_configs:
      - targets:
          - "dns-01.redstone:9119"
          - "dns-02.redstone:9119"
