---
server_url_consul: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          38396336383935363064323133653837643466633366613635636362623363323861393234346463
          6231626161373836656639386133393033316235626439310a383536653162326161356461616632
          35636135343733366537363665316339316638656661323036663431373736383833316538663937
          3466396239653130370a643337323130303335636635346266323363616134613339396538346132
          61363965376163666331326234383935383662646565646263663063336630646164363130363734
          6233313465336232623361646235383439336635663439323864

_consul_exporter_targets: "{{ groups['consul'] | map('regex_replace', '^(.*)$', '\\1:9107') | list }}"
_node_exporter_targets: "{{ groups['all'] | map('regex_replace', '^(.*)$', '\\1:9100') | list }}"

prometheus_minio_token: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          66653062343233363766383963316135363361363464323431346331303432333033636236616239
          3134653531376265323032346161366431376466386462660a633663643031616331646535663836
          62316533343462346330623034666662656564663338376237376664326334613837313237656438
          3639396536663666350a643638386135346535626135303631323535306561323165616566643761
          38373233626135383730653035376239353664616539626436356536323632613564613366333062
          38316463383237376437306563643935613765663533303933636334383330303366343138393230
          32653333323231393433343732633163393432626533383163393364333766336665336230326631
          36653737393734346264373134623462313233383761383138653236383266383632323231386139
          32316138656238626630323064386265336239613565333739653936616136343535626135306330
          31393161336264626238663230316133386161373962663362313338396633336635333639316339
          36346663643261623462656637316339396638313331613462306461636464653063396364386237
          63613066633932373134623132356237393166363439326333663561666439646134613333316539
          30613934333962373133313861613936623131326536383764353166303561373533333535343236
          6566653162363563386633656637313562373633333537623739

prometheus_scrape_configs:
  - job_name: "prometheus"
    metrics_path: "{{ prometheus_metrics_path }}"
    static_configs:
      - targets:
          - "{{ ansible_fqdn | default(ansible_host) | default('localhost') }}:9090"

  - job_name: consul_exporter
    static_configs:
      - targets: "{{ _consul_exporter_targets }}"

  - job_name: node_exporter
    static_configs:
      - targets: "{{ _node_exporter_targets }}"

  - job_name: "node_exporter_consul_sd"
    consul_sd_configs:
      - server: "{{ server_url_consul }}"
        scheme: "https"
        services: ["node_exporter"]
        refresh_interval: 30s

  - job_name: "bind_exporter_consul_sd"
    consul_sd_configs:
      - server: "{{ server_url_consul }}"
        scheme: "https"
        services: ["bind_exporter"]
        refresh_interval: 30s

  - job_name: minio-cluster
    bearer_token: "{{ prometheus_minio_token }}"
    metrics_path: /minio/v2/metrics/cluster
    scheme: http
    static_configs:
      - targets: ['backup-01.redstone:9000']

prometheus_alertmanager_config:
  - scheme: http
    static_configs:
      - targets: ["127.0.0.1:9093"]

alertmanager_version: latest
alertmanager_receivers:
  - name: webhook-handler
    webhook_configs:
      - http_config:
          follow_redirects: true
          tls_config:
            insecure_skip_verify: true
        send_resolved: true
        url: http://192.168.178.55:8080/api/v1/alerts
alertmanager_route:
  repeat_interval: 5m
  receiver: webhook-handler
