[Unit]
Description=MinIO
Documentation=https://docs.min.io
Wants=network-online.target
After=network-online.target

[Service]
User={{ minio_sys_user }}
Group={{ minio_sys_user }}
EnvironmentFile=-/etc/default/minio
ExecStart=/usr/local/bin/minio server /data --console-address ":9001"
Restart=always
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
