{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": [
        {% if policy_type == "write" %}
        "s3:PutObject",
        "s3:GetObject",
        "s3:ListBucket"
        {% elif policy_type == "readonly" %}
        "s3:GetObject",
        "s3:ListBucket"
        {% elif policy_type == "all" %}
        "s3:*"
        {% endif %}
      ],
      "Resource": [
        {% for bucket in buckets %}
        "arn:aws:s3:::{{ bucket }}",
        "arn:aws:s3:::{{ bucket }}/*"{% if not loop.last %},{% endif %}
        {% endfor %}
      ]
    }
  ]
}
