{
	"version": "10",
	"aliases": {
		"minio": {
			"url": "{{ minio_url }}",
			"accessKey": "{{ minio_root_user }}",
			"secretKey": "{{ minio_root_password }}",
			"api": "s3v4",
			"path": "auto"
		}
	}
}
