###
# vars:
#    minio_buckets:
#      - name: vault-backups
#        state: present
#        versioning: true
#
---
- name: Check if bucket exists
  ansible.builtin.shell: >
    mc ls minio/{{ item.name }} >/dev/null 2>&1
  register: bucket_check
  changed_when: false
  ignore_errors: true
  loop: "{{ minio_buckets }}"
  loop_control:
    loop_var: item

- name: Create bucket
  ansible.builtin.shell: >
    mc mb minio/{{ bucket.name }}
  when: item.rc != 0 and bucket.state == 'present'
  changed_when: false
  loop: "{{ bucket_check.results }}"
  loop_control:
    loop_var: item
  vars:
    bucket: "{{ item.item }}"

- name: Update versioning
  ansible.builtin.shell: >
    mc version enable minio/{{ item.name }}
  changed_when: false
  when:
    - item.state == 'present'
    - item.versioning is defined
    - item.versioning
  loop: "{{ minio_buckets }}"
  loop_control:
    loop_var: item

- name: Delete bucket
  ansible.builtin.shell: >
    mc rb minio/{{ bucket.name }}
  changed_when: false
  when: item.rc == 0 and bucket.state == 'absent'
  loop: "{{ bucket_check.results }}"
  loop_control:
    loop_var: item
  vars:
    bucket: "{{ item.item }}"
