---
- name: Install consul
  hosts: consul
  gather_facts: true
  roles:
    - role: reneruprecht.general
    - role: ansible-consul
      become: true
    - role: grafana.grafana.promtail
      become: true
    - role: prometheus.prometheus.node_exporter
    - role: prometheus.prometheus.consul_exporter
    - role: reneruprecht.minio
  post_tasks:
    - name: Create logs group
      become: true
      ansible.builtin.group:
        name: logs
        state: present

    - name: Add user to logs group
      become: true
      ansible.builtin.user:
        name: "{{ item }}"
        append: true
        groups:
          - logs
      loop:
        - "promtail"
        - "consul"
      register: add_user_group

    - name: Restart promtail
      become: true
      ansible.builtin.service:
        name: "promtail"
        state: restarted
      when: add_user_group.changed

    - name: Include consul backup
      ansible.builtin.include_tasks:
        file: ./tasks/consul-backup-setup.yml
