---
- name: Install consul
  hosts: consul
  become: true
  gather_facts: true
  roles:
    - role: reneruprecht.general
    - role: ansible-consul
    - role: grafana.grafana.promtail
    - role: prometheus.prometheus.node_exporter
