- name: Install infra-compose Vms
  hosts: infra-compose
  gather_facts: true
  roles:
    - role: geerlingguy.docker
  pre_tasks:
    - name: Write Env Vars
      ansible.builtin.lineinfile:
        create: true
        path: "/tmp/.env"
        state: "present"
        line: "{{ item.key }}={{ item.value }}"
      with_dict: "{{ environment_vars }}"
      no_log: "{{ env_no_log }}"
  post_tasks:
    - name: Get docker-compose file
      ansible.builtin.get_url:
        url: "{{ item.url }}"
        dest: "{{ item.dest }}"
        mode: 755
      loop: "{{ docker_file_urls }}"
    - name: Start docker
      ansible.builtin.command:
        cmd: "docker-compose -f {{ item.dest }} up -d"
      changed_when: false
      loop: "{{ docker_file_urls }}"
