---
- name: Install loadbalancer
  hosts: loadbalancer
  become: true
  gather_facts: true
  roles:
    - role: reneruprecht.general
    - role: reneruprecht.acme
    - role: robertdebock.haproxy
    - role: evrardjp.keepalived
    - role: grafana.grafana.promtail
    - role: prometheus.prometheus.node_exporter
