---
- name: Install loadbalancer
  hosts: loadbalancer
  become: true
  gather_facts: true
  roles:
    - role: reneruprecht.general

- name: Install loadbalancer-01 acme
  hosts: loadbalancer-01.redstone
  become: true
  gather_facts: true
  roles:
    - role: reneruprecht.acme

- name: Install loadbalancer
  hosts: loadbalancer
  become: true
  gather_facts: true
  roles:
    - role: ansible-consul
    - role: reneruprecht.haproxy
    - role: evrardjp.keepalived
    - role: grafana.grafana.promtail
    - role: prometheus.prometheus.node_exporter
