---
- name: Install general loadbalancer
  hosts: loadbalancer
  become: true
  gather_facts: true
  roles:
    - role: reneruprecht.general

- name: Install loadbalancer-01 acme
  hosts: loadbalancer-01.redstone
  gather_facts: true
  roles:
    - role: reneruprecht.acme

- name: Install loadbalancer
  hosts: loadbalancer
  gather_facts: true
  roles:
    - role: ansible-consul
      become: true
    - role: reneruprecht.haproxy
    - role: evrardjp.keepalived
      become: true
    - role: grafana.grafana.promtail
      become: true
    - role: prometheus.prometheus.node_exporter
  post_tasks:
    - name: Include haproxy_vault_agent
      ansible.builtin.include_tasks:
        file: ./tasks/vault_agent_haproxy.yml
  handlers:
    - name: Restart vault-agent
      become: true
      ansible.builtin.systemd:
        name: vault-agent
        state: restarted
