- name: Install vault
  hosts: vault
  become: true
  gather_facts: true
  roles:
    - role: reneruprecht.general
    - role: ansible-consul
    - role: grafana.grafana.promtail
    - role: prometheus.prometheus.node_exporter
    - role: ansible-community.ansible-vault
  post_tasks:
    - name: Set vault environment
      ansible.builtin.lineinfile:
        path: "~/.bashrc"
        line: "export VAULT_ADDR={{ vault_api_addr }}"
        state: present
    - name: Set vault environment
      become: false
      ansible.builtin.lineinfile:
        path: "~/.bashrc"
        line: "export VAULT_ADDR={{ vault_api_addr }}"
        state: present
