apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
resources:
- ../../base/grafana
- ./configmap.yaml
configMapGenerator:
  - name: dashboards
    files:
      - dashboards/kubernetes.json
    options:
      labels:
        grafana_dashboard: "1"
