apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: metallb
  namespace: metallb-system
spec:
  chart:
    spec:
      chart: metallb
      interval: 12h
      sourceRef:
        kind: HelmRepository
        name: metallb
        namespace: metallb-system
      version: "0.15.3"
  interval: 10m
  install:
    crds: Create
