---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: argocd
  namespace: gitops
spec:
  values:
    global:
      domain: argocd.bluecore
    configs:
      cm:
        oidc.config: |
          name: keycloak
          issuer: $oidc.keycloak.issuer
          clientID: argocd
          clientSecret: $oidc.keycloak.clientSecret
          refreshTokenThreshold: 2m
          requestedScopes: ["openid", "profile", "email", "groups"]
      rbac:
        policy.csv: "g, ArgoCDAdmins, role:admin"

