apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: alertbridge-postgres
  namespace: alertbridge
spec:
  description: "Alertbridge DB"
  instances: 1
  startDelay: 300
  stopDelay: 300

  bootstrap:
    initdb:
      database: alerts

  storage:
    storageClass: longhorn
    size: 1Gi

  resources:
    requests:
      memory: "512Mi"
      cpu: "1"
    limits:
      memory: "1Gi"
      cpu: "2"

