---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  values:
    createConfigmap: false
    admin:
      existingSecret: vault-grafana
      admin-user: username
      admin-password: password
    extraSecretMounts:
      - name: auth-generic-oauth-secret-mount
        secretName: vault-grafana
        defaultMode: 0440
        mountPath: /etc/secrets/auth_generic_oauth
        readOnly: true
