---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  values:
    admin:
      existingSecret: vault-grafana
      admin-user: username
      admin-password: password
    grafana.ini:
      server:
        root_url: http://192.168.178.249/grafana/
        serve_from_sub_path: true
