name: Ansible Playbook

env:
  ANSIBLE_VAULT: ${{ secrets.ANSIBLE_VAULT }}
  ANSIBLE_SSH_KEY: ${{ secrets.SSH_KEY }}
  SECRET_KEY: ${{ secrets.SECRET_KEY }}

on:
  workflow_call:
    inputs:
      playbook_env_mapping:
        description: "Playbook and Env mapping as json"
        required: true
        type: string
      check_mode:
        description: "Run Playbooks in Check Mode"
        required: true
        type: string
        default: "true"

jobs:
  playbooks:
    runs-on: self-hosted
    container:
      image:  reneruprecht/ci-python312
    strategy:
      matrix:
        playbook_env_mapping: ${{ fromJSON(inputs.playbook_env_mapping) }}
    steps:
      - name: Prepare
        id: prepare
        run: |
          ANSIBLE_LOG="/ansible_logs"
          mkdir -p $ANSIBLE_LOG

          PLAYBOOK=${{ matrix.playbook_env_mapping.playbook}}
          ENV_NAME=${{ matrix.playbook_env_mapping.env}}

          echo "log_dir=$ANSIBLE_LOG" >> $GITHUB_OUTPUT
          echo "log_file=${ANSIBLE_LOG}/${ENV_NAME}_${PLAYBOOK}.log" >> $GITHUB_OUTPUT
          echo "log_name=${ENV_NAME}_${PLAYBOOK}.log" >> $GITHUB_OUTPUT
          echo "inventory=inventory/${ENV_NAME}/hosts.yml" >> $GITHUB_OUTPUT
          echo "playbook=playbook/${ENV_NAME}/${PLAYBOOK}" >> $GITHUB_OUTPUT

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh

          echo "${{ secrets.ANSIBLE_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          
      - name: "Run ${{ matrix.playbook_env_mapping.playbook }} on ${{ matrix.playbook_env_mapping.env}}"
        working-directory: ansible
        env:
          ANSIBLE_VAULT_PASSWORD_FILE: ".vaultpass"
          ALLOW_BROKEN_CONDITIONALS: true
        run: |
          pipenv install
          pipenv run ansible-galaxy install -r requirements.yml
          echo "${{ secrets.ANSIBLE_VAULT }}" > .vaultpass

          CHECK_MODE=""

          if [ "${{ inputs.check_mode }}" = "true" ]; then
            echo "Check mode"
            CHECK_MODE="--check"
          fi

          INVENTORY="${{ steps.prepare.outputs.inventory }}"
          PLAYBOOK="${{ steps.prepare.outputs.playbook }}"
          LOG_FILE="${{ steps.prepare.outputs.log_file }}"

          pipenv run ansible-playbook -i "$INVENTORY" --private-key="~/.ssh/id_rsa" "$PLAYBOOK" ${CHECK_MODE} | tee "$LOG_FILE" > /dev/null

      - name: Compress log
        run: |
          LOG_FILE="${{ steps.prepare.outputs.log_file }}"
          tar -czf "${LOG_FILE}.tar.gz" "$LOG_FILE"

      - name: Encrypt plans
        run: |
          LOG_FILE="${{ steps.prepare.outputs.log_file }}"
          openssl enc -aes-256-cbc -salt -pbkdf2 -k "$SECRET_KEY" -in "${LOG_FILE}.tar.gz" -out "${LOG_FILE}.tar.gz.enc"

      - name: Upload encrypted ansible log artifact
        uses: actions/upload-artifact@v4
        with:
          name: "${{ steps.prepare.outputs.log_name }}"
          path: "${{ steps.prepare.outputs.log_file }}.tar.gz.enc"
