name: Ansible Prepare Playbooks / Env

on:
  workflow_call:
    outputs:
      playbook_env_mapping:
        value: ${{ jobs.prepare.outputs.playbook_env_mapping }}
        description: "Playbook and Env mapping"
    inputs:
      dirs:
        required: true
        type: string

jobs:
  prepare:
    runs-on: self-hosted
    container:
      image: reneruprecht/ci-python312
    outputs:
      playbook_env_mapping: ${{ steps.setup.outputs.playbook_env_mapping }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Playbooks mapping
        working-directory: "ansible"
        env:
          DIRS: "${{ inputs.dirs }}"
        id: setup
        run: |
          RESULT=$(python3 select_playbook.py "$DIRS" | jq -c .)

          echo "$RESULT"

          {
            echo "playbook_env_mapping<<EOF"
            echo "$RESULT"
            echo "EOF"
          } >> $GITHUB_OUTPUT

      - name: Check if Playbook exists
        id: check_playbook
        run: |
          MAPPING="${{ steps.setup.outputs.playbook_env_mapping }}"
          if [ "$MAPPING" = "[]" ]; then
            {
              echo "## ℹ️ **INFO: NO PLAYBOOKS TO RUN!** ℹ️"
              echo '```'
              echo "#########################################"
              echo "###                                   ###"
              echo "###   ℹ️    NO PLAYBOOKS TO RUN   ℹ️  ###"
              echo "###                                   ###"
              echo "#########################################"
              echo '```'
            } >> $GITHUB_STEP_SUMMARY

          else
            {
              echo "## ℹ️ **CHANGES DETECTED** ℹ️"
              echo '```'
              echo "##############################################"
              echo "###                                        ###"
              echo "###  ℹ️   PLAYBOOKS WILL BE EXECUTED   ℹ️  ###"
              echo "###                                        ###"
              echo "##############################################"
              echo ""
              echo '```'
            } >> $GITHUB_STEP_SUMMARY


              JSON='${{ steps.setup.outputs.playbook_env_mapping }}'

            {
              echo "| Playbook | Env |"
              echo "|----------|-----|"
              echo "$JSON" | jq -r '.[] | "| \(.playbook) | \(.env) |"'
            } >> $GITHUB_STEP_SUMMARY

          fi
