name: Deploy Docker Workflow

on:
  push:
    paths:
      - 'docker/ci/**/**'
    branches:
      - 'main'

jobs:
  get-dirs:
    uses: ./.github/workflows/get-dirs.yml
    with:
      base_dir: "docker"
      processing_mode: "changed"

  docker:
    if: ${{ needs.get-dirs.outputs.dirs != '[]' }}
    container:
      image:  "docker:28.3.3-dind-alpine3.22"
    needs: get-dirs
    runs-on: self-hosted
    strategy:
      matrix:
        image_dirs: ${{ fromJSON(needs.get-dirs.outputs.dirs) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build
        working-directory: "docker/${{ matrix.image_dirs }}"
        id: build
        run: |
          IMG_NAME=$(echo "${{ matrix.image_dirs }}" | tr '/' '-')
          USER="${{ secrets.DOCKER_USERNAME }}"
          IMAGE="${USER}/${IMG_NAME}"
          TAG="${GITHUB_SHA::7}"

          echo "Building image: $IMAGE"
          docker build -t "${IMAGE}:latest" .
          # docker build -t "${IMAGE}:${TAG}" .

          {
            echo "image<<EOF"
            echo "$IMAGE"
            echo "EOF"
          } >> $GITHUB_OUTPUT
          {
            echo "image_tag<<EOF"
            echo "$TAG"
            echo "EOF"
          } >> $GITHUB_OUTPUT

      - name: Push
        working-directory: "docker/ci"
        run: |
          set -euo pipefail

          IMG_NAME="${{ steps.build.outputs.image }}"
          TAG="${{ steps.build.outputs.tag }}"

          echo "${{ secrets.DOCKER_TOKEN }}" | docker login docker.io \
            -u "${USER}" \
            --password-stdin

          docker image push "${IMAGE}:latest"
          # docker image push "${IMAGE}:${TAG}"
