name: Terraform apply

env:
  TF_VERSION: 1.12.2
  NETBOX_SERVER_URL: ${{ secrets.NETBOX_URL }}
  NETBOX_API_TOKEN: ${{ secrets.NETBOX_TOKEN }}
  TF_VAR_vm_user: ${{ secrets.VM_USER }}
  TF_VAR_vm_ssh_keys: ${{ secrets.VM_KEYS }}
  PM_API_URL: ${{ secrets.PM_API_URL }}
  PM_API_TOKEN_ID: ${{ secrets.PM_API_TOKEN_ID }}
  PM_API_TOKEN_SECRET: ${{ secrets.PM_API_TOKEN_SECRET }}
  SECRET_KEY: ${{ secrets.SECRET_KEY }}

on:
  workflow_call:
    inputs:
      dirs:
        required: true
        type: string

jobs:
  apply:
    if: ${{ inputs.dirs != '[]' }}
    runs-on: self-hosted
    container:
      image: reneruprecht/ci-node22
    strategy:
      matrix:
        env_name: ${{ fromJSON(inputs.dirs) }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup vars
        id: vars
        run: |
          ENV_NAME=$(echo "${{ matrix.env_name }}" | cut -d'/' -f1)
          {
            echo "env_name<<EOF"
            echo "${ENV_NAME}"
            echo "EOF"
          } >> $GITHUB_OUTPUT

          COMPONENT=$(echo "${{ matrix.env_name }}" | cut -d'/' -f2)
          {
            echo "component<<EOF"
            echo "${COMPONENT}"
            echo "EOF"
          } >> $GITHUB_OUTPUT

          WORKDIR="terraform/environments/$ENV_NAME/$COMPONENT"
          {
            echo "workdir<<EOF"
            echo "$WORKDIR"
            echo "EOF"
          } >> $GITHUB_OUTPUT

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: ${{ steps.vars.outputs.workdir }}
        run: |
          terraform init -backend-config="address=${{ secrets.TERRAFORM_STATE_ADDRESS }}"

      - name: Terraform apply
        working-directory: ${{ steps.vars.outputs.workdir }}
        run: |
          terraform apply -auto-approve
